body {
    background-image: url("images/backg.jpg");
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

#logo {
    border: 5px solid rgb(230, 162, 37);
    border-radius: 50%;
    width: 80%;
    transition: all 0.5s ease;
    margin: 50px auto;
    display: block;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.snacks {
    background-color: black;
    text-decoration:none;
    display: inline-flex;
    border: 10px solid goldenrod;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.snacks p {
    font-style: italic;
    font-display: center;
    color: gold;
}

p.one {
    border: solid;
    border-width: 7px;
    border-radius: 50px;
    background-color: black;
    color: rgb(230, 162, 37);
    height: 50px;
    left: 50%;
}

footer {
  background-color: rgba(169, 169, 169, 0.8);
  margin-top: 150px;
  border-top: 4px solid gold;
}

footer .foot {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-end;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

footer .foot p {
  text-align: center;
  color: gold;
}

footer .foot p a {
  text-decoration: none;
  color: gold;
}